<%= form_for(@booking) do |f| %>

  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@booking.errors.count, "error") %> prohibited
        this booking from being saved:
      </h2>
      <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <% unless current_user.customer %>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-body">
            <p>
              <%= f.label :select_existing_user %><br>
              <%= f.collection_select :user_id, User.where(customer: true), :id, :name_email, {:include_blank => true, :default => nil}, {class: "form-control"} %>
            </p>
            <div id="new_user_div">
              <strong>OR Create New User</strong>
              <%= render 'new_user' %>
            </div>

          </div>
        </div>
      </div>
    <% end %>

    <div class="col-md-4 form-group">
      <p>
        <%= f.label :airline %><br>
        <%= f.text_field :airline,autofocus: true, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :origin %><br>
        <%= f.text_field :origin, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :trip_option %><br>
        <%= f.select :trip_option, [['One Way', 'one_way'], ['Round Trip', 'round_trip']] %>
      </p>

      <p>
        <%= f.label :ticket_number %><br>
        <%= f.text_field :ticket_number, class: 'form-control' %>
      </p>

      <p>
        <span class="glyphicon glyphicon-calendar"></span>
        <%= f.label :flight_time %><br>
        <%= f.text_field :flight_time, class: 'form-control', id: 'datetimepicker1', data: { date_format: 'DD/MM/YYYY hh:mm A' }, value: Time.now.strftime('%d-%m-%Y') %>
      </p>

      <p>
        <%= f.label :ticket_type %><br>
        <%= f.select :ticket_type, [['International', 'International'], ['Domestic', 'Domestic']] %>
      </p>

      <p>
        <%= f.label :bill_number %><br>
        <%= f.text_field :bill_number, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :recipt_number %><br>
        <%= f.text_field :recipt_number, class: 'form-control' %>
      </p>

    </div>

    <div class="col-md-4">
      <p>
        <%= f.label :flght_number %><br>
        <%= f.text_field :flght_number, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :destination %><br>
        <%= f.text_field :destination, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :passengers %><br>
        <%= f.text_field :passengers,autofocus: true, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :pnr %><br>
        <%= f.text_field :pnr, class: 'form-control' %>
      </p>

      <p>
        <span class="glyphicon glyphicon-calendar"></span>
        <%= f.label :ticket_time_limit %><br>
        <%= f.text_field :ticket_time_limit, class: 'form-control', id: 'datetimepicker2', data: { date_format: 'DD/MM/YYYY hh:mm A' }, value: Time.now.strftime('%d-%m-%Y') %>
      </p>

      <p>
        <%= f.label :currency %><br>
        <%= f.select :currency, [['USD', 'USD'], ['NRP', 'NRP']] %>
      </p>

      <p>
        <%= f.label :amount %><br>
        <%= f.text_field :amount, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :notes %><br>
        <%= f.text_area :notes, class: 'form-control' %>
      </p>

      <%= f.submit "Create Booking", class: "btn btn-success" %>

    </div>

  </div>

  <div class="form-inline">
    <div class="col-md-8">
      <p>

      </p>
      <%= link_to 'Back', bookings_path %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });

  $(function () {
    $('#datetimepicker2').datetimepicker();
  });


  $(document).ready(function(){
    $('#booking_user_id').on('change', function() {
      if ( this.value )
      {
        $("#new_user_div").hide();
        $('#user_email, #user_name, #user_contact_number').prop('required',false);
      }
      else
      {
        $("#new_user_div").show();
        $('#user_email, #user_name, #user_contact_number').prop('required',true);
      }
    });
});
</script>
