<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h3>Ticket Booking System</h3>
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to 'Pending Bookings', bookings_path(tab: 'pending_bookings') %></li>
      <li role="presentation"><%= link_to 'Completed Bookings', bookings_path(tab: 'completed_bookings') %></li>
      <li role="presentation"><%= link_to 'All Bookings', bookings_path(tab: 'all_bookings') %></li>
      <% if current_user.agent? %>
        <li role="presentation"><%= link_to 'All Pending Bookings', bookings_path(tab: 'all_pending_bookings') %></li>
        <li role="presentation"><%= link_to 'All Completed Bookings', bookings_path(tab: 'all_completed_bookings') %></li>
      <% end %>
    </ul>
  </div>
</div>


</br>
<%= link_to 'Create New booking', new_booking_path %>



<h1><%= params[:tab]&.humanize %></h1>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th>Booked Date</th>
    <th>Agent</th>
    <th>Customer</th>
    <th>Airline</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Flight Time</th>
    <th>Ticket Time Limit</th>
    <th>Flight Number</th>
    <th>PNR</th>
    <th>Ticket Number</th>
    <th>Bill #</th>
    <th>Amount</th>
    <th>Receipt #</th>
    <th>Ticket Type</th>
    <th>Notes</th>
  </tr>

  <% @bookings.each do |booking| %>
    <tr class="<%= booking.status %>" onclick="location.href='bookings/<%=booking.id%>'">
      <td><%= booking.created_at&.strftime('%A, %d %b %Y %l:%M %p') %></td>
      <td><%= booking.agent&.name %></td>
      <td><%= "#{booking.user&.name} (☎#{booking.user&.contact_number})" %></td>
      <td><%= booking.airline %></td>
      <td><%= booking.origin %></td>
      <td><%= booking.destination %></td>
      <td><%= booking.flight_time&.strftime('%A, %d %b %Y %l:%M %p') %></td>
      <td><%= booking.ticket_time_limit&.strftime('%A, %d %b %Y %l:%M %p') %></td>
      <td><%= booking.flght_number %></td>
      <td><%= booking.pnr %></td>
      <td><%= booking.ticket_number %></td>
      <td><%= booking.bill_number %></td>
      <td><%= "#{booking.currency} #{booking.amount}" %></td>
      <td><%= booking.recipt_number %></td>
      <td><%= booking.ticket_type %></td>
      <td><%= truncate(booking.notes) %></td>
      <td><%= link_to 'Show', booking_path(booking) %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <!-- <td><%= link_to 'Delete', booking_path(booking),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td> -->
    </tr>
  <% end %>
</table>


<style>
.upcoming {
  background-color: lightpink;
  cursor:pointer;
}
.overdue {
  background-color: red;
  cursor:pointer;
}
.normal {
  cursor:pointer;
}
</style>
