<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Booking System </h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if user_signed_in? %>
          <%= link_to 'My Bookings', bookings_path(my_bookings: true) %>
          <%= link_to 'My Completed Bookings', bookings_path(completed_bookings: true) %>
          <%= link_to 'All Bookings', bookings_path(all_bookings: true) %>
          <% if current_user.agent? %>
            <%= link_to 'All Pending Bookings', bookings_path(all_pending_bookings: true) %>
            <%= link_to 'All Completed Bookings', bookings_path(all_completed_bookings: true) %>
          <% end %>
        <% else %>
            <p>Login to continue </p>
            <%= render 'devise/sessions/form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
